Repository Mazyod/rasa, changes with the owners that CODEOWNERS names for each.
All owners: @ricwo, @alwx, @RasaHQ/infrastructure, @RasaHQ/enable-squad, @RasaHQ/research

CODEOWNERS:

# Code in the `rasa.shared` package is potentially re-used by downstream dependencies
# such as Rasa X. Hence, changes within this package require double checking.
/docs/docs/prototype-an-assistant.mdx @ricwo @alwx
/.github/workflows/ @RasaHQ/infrastructure
*.py @RasaHQ/enable-squad
/rasa/cli/ @RasaHQ/enable-squad
/rasa/core/ @RasaHQ/enable-squad
/rasa/core/featurizers/ @RasaHQ/research
/rasa/core/policies/*.py @RasaHQ/research
/rasa/core/policies/ensemble.py @RasaHQ/enable-squad
/rasa/core/policies/policy.py @RasaHQ/enable-squad
/rasa/core/policies/registry.py @RasaHQ/enable-squad
/rasa/core/policies/__init__.py @RasaHQ/enable-squad
/rasa/nlu/classifiers/ @RasaHQ/research
/rasa/nlu/emulators/ @RasaHQ/enable-squad
/rasa/nlu/extractors/ @RasaHQ/enable-squad
/rasa/nlu/extractors/crf_entity_extractor.py @RasaHQ/research
/rasa/nlu/extractors/extractor.py @RasaHQ/research
/rasa/nlu/featurizers/ @RasaHQ/research
/rasa/nlu/selectors/ @RasaHQ/research
/rasa/nlu/tokenizers/ @RasaHQ/research
/rasa/nlu/training_data/ @RasaHQ/enable-squad
/rasa/nlu/utils/ @RasaHQ/research
/rasa/nlu/utils/__init__.py @RasaHQ/enable-squad
/rasa/nlu/*.py @RasaHQ/enable-squad
/rasa/nlu/test.py @RasaHQ/research
/rasa/shared/core/ @RasaHQ/enable-squad
/rasa/shared/importers/ @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/ @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/feature.py @RasaHQ/research
/rasa/shared/nlu/training_data/message.py @RasaHQ/research
/rasa/shared/nlu/training_data/util.py @RasaHQ/enable-squad @RasaHQ/research
/rasa/shared/nlu/*.py @RasaHQ/enable-squad
/rasa/shared/utils/ @RasaHQ/enable-squad
/rasa/shared/*.py @RasaHQ/enable-squad
/rasa/utils/*.py @RasaHQ/enable-squad
/rasa/utils/plotting.py @RasaHQ/research
/rasa/utils/train_utils.py @RasaHQ/research
/rasa/utils/tensorflow/ @RasaHQ/research
/rasa/*.py @RasaHQ/enable-squad

IntentTEDPolicy: Fix when predictions should be skipped (#8912)
  rasa/core/policies/intent_ted_policy.py
  tests/core/policies/test_intent_ted_policy.py
Owners: @RasaHQ/research, @RasaHQ/enable-squad

change FallbackClassifier score to fallback threshold
  rasa/nlu/classifiers/fallback_classifier.py
Owners: @RasaHQ/research

add changelog, fix linter error and failing test
  changelog/8801.misc.md
  rasa/nlu/classifiers/fallback_classifier.py
  tests/nlu/classifiers/test_fallback_classifier.py
Owners: @RasaHQ/research, @RasaHQ/enable-squad

Add warning message if domain yml file is not valid yaml syntax
  rasa/shared/core/domain.py
Owners: @RasaHQ/enable-squad

edit docs, changelog and rearrange test
  changelog/8801.improvement.md
  changelog/8801.misc.md
  docs/docs/components.mdx
  tests/nlu/classifiers/test_fallback_classifier.py
Owners: @RasaHQ/enable-squad

Updated main changelog
  CHANGELOG.mdx
Owners: none

Converted hash int to string
  rasa/nlu/classifiers/diet_classifier.py
Owners: @RasaHQ/research

Added changelog
  changelog/8929.improvement.md
Owners: none
