Repository Mazyod/rasa, changes with the owners that CODEOWNERS names for each.
All owners: @ricwo, @alwx, @RasaHQ/infrastructure, @RasaHQ/enable-squad, @RasaHQ/research

add changelog entry
  changelog/8525.misc.md
Owners: none

IntentTEDPolicy: Add `tolerance` parameter (#8855)
  rasa/core/policies/intent_ted_policy.py
  rasa/utils/tensorflow/constants.py
  rasa/utils/train_utils.py
  tests/core/policies/test_intent_ted_policy.py
  tests/core/policies/test_ted_policy.py
  tests/utils/test_train_utils.py
Owners: @RasaHQ/research

:art: Renamed method signature for filter errors & formatted
  changelog/8682.misc.md
  rasa/telemetry.py
Owners: @RasaHQ/enable-squad

security update to tensorflow 2.3.3
  poetry.lock
Owners: none

Don't evaluate entities if no entities present in test data (#8813)
  changelog/8812.bugfix.md
  rasa/nlu/test.py
  rasa/utils/plotting.py
  tests/utils/test_plotting.py
Owners: @RasaHQ/research

prepared release of version 2.7.1
  CHANGELOG.mdx
  changelog/7286.bugfix.md
  changelog/8200.bugfix.md
  changelog/8812.bugfix.md
  pyproject.toml
  rasa/version.py
Owners: @RasaHQ/enable-squad

Switch back to upstream lazy-actions/gitrivy
  .github/workflows/vulnerability-scan.yml
Owners: @RasaHQ/infrastructure

Update 8704.misc.md
  changelog/8704.misc.md
Owners: none

Update 8704.misc.md
  changelog/8704.misc.md
Owners: none

Remove unneccessary Path casts
  tests/core/policies/test_ted_policy.py
  tests/nlu/classifiers/test_diet_classifier.py
Owners: none

fix typos
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-model-regression-on-schedule.yml
  .github/workflows/ci-model-regression.yml
  .github/workflows/continous-integration.yml
  .github/workflows/documentation.yml
  .github/workflows/security-scans.yml
Owners: @RasaHQ/infrastructure

CODEOWNERS:

# Code in the `rasa.shared` package is potentially re-used by downstream dependencies
# such as Rasa X. Hence, changes within this package require double checking.
/docs/docs/prototype-an-assistant.mdx @ricwo @alwx
/.github/workflows/ @RasaHQ/infrastructure
/rasa/cli/ @RasaHQ/enable-squad
/rasa/core/actions/ @RasaHQ/enable-squad
/rasa/core/brokers/ @RasaHQ/enable-squad
/rasa/core/channels/ @RasaHQ/enable-squad
/rasa/core/featurizers/
/rasa/core/nlg/ @RasaHQ/enable-squad
/rasa/core/policies/ensemble.py @RasaHQ/enable-squad
/rasa/core/policies/policy.py @RasaHQ/enable-squad
/rasa/core/policies/registry.py @RasaHQ/enable-squad
/rasa/core/policies/__init__.py @RasaHQ/enable-squad
/rasa/core/policies/fallback.py @RasaHQ/research
/rasa/core/policies/form_policy.py @RasaHQ/research
/rasa/core/policies/mapping_policy.py @RasaHQ/research
/rasa/core/policies/memoization.py @RasaHQ/research
/rasa/core/policies/rule_policy.py @RasaHQ/research
/rasa/core/policies/sklearn_policy.py @RasaHQ/research
/rasa/core/policies/ted_policy.py @RasaHQ/research
/rasa/core/policies/two_stage_fallback.py @RasaHQ/research
/rasa/core/training/ @RasaHQ/enable-squad
/rasa/core/__init__.py @RasaHQ/enable-squad
/rasa/core/agent.py @RasaHQ/enable-squad
/rasa/core/config.py @RasaHQ/enable-squad
/rasa/core/exceptions.py @RasaHQ/enable-squad
/rasa/core/exporter.py @RasaHQ/enable-squad
/rasa/core/interpreter.py @RasaHQ/enable-squad
/rasa/core/jobs.py @RasaHQ/enable-squad
/rasa/core/lock.py @RasaHQ/enable-squad
/rasa/core/lock_store.py @RasaHQ/enable-squad
/rasa/core/processor.py @RasaHQ/enable-squad
/rasa/core/registry.py @RasaHQ/enable-squad
/rasa/core/run.py @RasaHQ/enable-squad
/rasa/core/test.py @RasaHQ/enable-squad
/rasa/core/tracker_store.py @RasaHQ/enable-squad
/rasa/core/train.py @RasaHQ/enable-squad
/rasa/core/utils.py @RasaHQ/enable-squad
/rasa/core/visualize.py @RasaHQ/enable-squad
/rasa/nlu/classifiers/ @RasaHQ/research
/rasa/nlu/emulators/ @RasaHQ/enable-squad
/rasa/nlu/extractors/__init__.py @RasaHQ/enable-squad
/rasa/nlu/extractors/crf_entity_extractor.py @RasaHQ/research
/rasa/nlu/extractors/duckling_entity_extractor.py @RasaHQ/enable-squad
/rasa/nlu/extractors/entity_synonyms.py @RasaHQ/enable-squad
/rasa/nlu/extractors/extractor.py @RasaHQ/research
/rasa/nlu/extractors/mitie_entity_extractor.py @RasaHQ/enable-squad
/rasa/nlu/extractors/regex_entity_extractor.py @RasaHQ/enable-squad
/rasa/nlu/extractors/spacy_entity_extractor.py @RasaHQ/enable-squad
/rasa/nlu/featurizers/ @RasaHQ/research
/rasa/nlu/selectors/ @RasaHQ/research
/rasa/nlu/tokenizers/ @RasaHQ/research
/rasa/nlu/training_data/ @RasaHQ/enable-squad
/rasa/nlu/utils/hugging_face/ @RasaHQ/research
/rasa/nlu/utils/__init__.py @RasaHQ/enable-squad
/rasa/nlu/utils/bilou_utils.py @RasaHQ/research
/rasa/nlu/utils/mitie_utils.py @RasaHQ/research
/rasa/nlu/utils/pattern_utils.py @RasaHQ/research
/rasa/nlu/utils/spacy_utils.py @RasaHQ/research
/rasa/nlu/__init__.py @RasaHQ/enable-squad
/rasa/nlu/components.py @RasaHQ/enable-squad
/rasa/nlu/config.py @RasaHQ/enable-squad
/rasa/nlu/convert.py @RasaHQ/enable-squad
/rasa/nlu/model.py @RasaHQ/enable-squad
/rasa/nlu/persistor.py @RasaHQ/enable-squad
/rasa/nlu/registry.py @RasaHQ/enable-squad
/rasa/nlu/run.py @RasaHQ/enable-squad
/rasa/nlu/test.py @RasaHQ/research
/rasa/nlu/train.py @RasaHQ/enable-squad
/rasa/shared/core/ @RasaHQ/enable-squad
/rasa/shared/importers/ @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/formats/ @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/schemas/ @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/__init__.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/entities_parser.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/feature.py @RasaHQ/research
/rasa/shared/nlu/training_data/loading.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/lookup_tables_parser.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/message.py @RasaHQ/research
/rasa/shared/nlu/training_data/synonyms_parser.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/training_data.py @RasaHQ/enable-squad
/rasa/shared/nlu/training_data/util.py @RasaHQ/enable-squad @RasaHQ/research
/rasa/shared/nlu/__init_.py @RasaHQ/enable-squad
/rasa/shared/nlu/constants.py @RasaHQ/enable-squad
/rasa/shared/nlu/interpreter.py @RasaHQ/enable-squad
/rasa/shared/utils/ @RasaHQ/enable-squad
/rasa/shared/__init__.py @RasaHQ/enable-squad
/rasa/shared/constants.py @RasaHQ/enable-squad
/rasa/shared/data.py @RasaHQ/enable-squad
/rasa/shared/exceptions.py @RasaHQ/enable-squad
/rasa/utils/tensorflow/ @RasaHQ/research
/rasa/utils/__init__.py @RasaHQ/enable-squad
/rasa/utils/common.py @RasaHQ/enable-squad
/rasa/utils/converter.py @RasaHQ/enable-squad
/rasa/utils/endpoints.py @RasaHQ/enable-squad
/rasa/utils/io.py @RasaHQ/enable-squad
/rasa/utils/plotting.py @RasaHQ/research
/rasa/utils/train_utils.py @RasaHQ/research
/rasa/__init__.py @RasaHQ/enable-squad
/rasa/__main__.py @RasaHQ/enable-squad
/rasa/api.py @RasaHQ/enable-squad
/rasa/constants.py @RasaHQ/enable-squad
/rasa/exceptions.py @RasaHQ/enable-squad
/rasa/jupyter.py @RasaHQ/enable-squad
/rasa/model.py @RasaHQ/enable-squad
/rasa/model_testing.py @RasaHQ/enable-squad
/rasa/model_training.py @RasaHQ/enable-squad
/rasa/server.py @RasaHQ/enable-squad
/rasa/telemetry.py @RasaHQ/enable-squad
/rasa/validator.py @RasaHQ/enable-squad
/rasa/version.py @RasaHQ/enable-squad
